In [1]:
# Load required modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
# Import Data and Read Collumns
df = pd.read_csv("NOTEEVENTS.csv")
for col in df.columns: 
    print(col)

/Users/david/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

ROW_ID
SUBJECT_ID
HADM_ID
CHARTDATE
CHARTTIME
STORETIME
CATEGORY
DESCRIPTION
CGID
ISERROR
TEXT

In [3]:
# Drop Unnecesary Collumns
df_notes = df.drop(['ROW_ID','SUBJECT_ID','HADM_ID','CHARTDATE','CHARTTIME','STORETIME','CATEGORY','DESCRIPTION','CGID','ISERROR'], axis=1)

In [4]:
df_notes.head()

                                                TEXT
0  Admission Date:  [**2151-7-16**]       Dischar...
1  Admission Date:  [**2118-6-2**]       Discharg...
2  Admission Date:  [**2119-5-4**]              D...
3  Admission Date:  [**2124-7-21**]              ...
4  Admission Date:  [**2162-3-3**]              D...

In [5]:
df_notes.tail()

                                                      TEXT
2083175  NPN\n\n\n#1  Infant remains in RA with O2 sats...
2083176  Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...
2083177  Family Meeting Note\nFamily meeting held with ...
2083178  NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
2083179  NPN 1800\nNursing Addendum:\n[**Known lastname...

In [6]:
len(df_notes)

2083180

In [8]:
df_notes.to_csv (r'C:\Users\David\Raw_HealthData.csv', index = False, header=True)

In [9]:
# Print first 20,000 rows
text = df_notes.head(20000)

In [10]:
text.to_csv (r'C:\Users\David\Downloads\Updated_HealthData.csv', index = False, header=True)